{% include "browse/shared/imports_and_style.html" %}
{% load static %}
{% load plotly_dash %}

<div class="uk-position-relative">
    <img src="{% static 'browse/img/house.jpg' %}" class="full-width">

    <div class='uk-overlay'>
        <div class='uk-position-top'>
            <div
                uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
                <nav class="uk-navbar-container uk-navbar-transparent uk-light" uk-navbar>

                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo" href="#">Logo</a>
                    </div>


                    <div class="uk-navbar-right">

                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="#">Home</a></li>
                            <li><a href="#">Information</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>

                </nav>
            </div>

        </div>

        <div class="uk-width-1-2@s uk-light uk-position-center">
            <h6 class="uk-text-primary uk-margin-small-bottom uk-animation-slide-right-medium" style="">RESEARCH</h6>
            <h1 class="uk-margin-remove-top uk-animation-slide-right-medium" style="">
                Innovation in
                your hands.</h1>
            <p class="uk-visible@s uk-animation-slide-right-medium" style="">
                Tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco </p>
            <a href="#" title="Learn More"
                class="uk-button uk-button-primary uk-border-pill uk-scrollspy-inview uk-animation-fade"
                data-uk-scrollspy-class="uk-animation-fade" style="">LEARN MORE</a>
        </div>


        <div class="uk-position-relative uk-light uk-position-bottom-center" style="top:-150px">
            <a href="#content" data-uk-scroll="duration: 500" data-uk-icon="icon: arrow-down; ratio: 2"
                class="uk-icon"><svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                    data-svg="arrow-down">
                    <polygon points="10.5,16.08 5.63,10.66 6.37,10 10.5,14.58 14.63,10 15.37,10.66"></polygon>
                    <line fill="none" stroke="#000" x1="10.5" y1="4" x2="10.5" y2="15"></line>
                </svg></a>
        </div>
    </div>

</div>



<div  class="uk-height-max-large  uk-container uk-container-expand" id = 'content'  uk-height-viewport="min-height: 300" uk-grid>
    <!-- ANALYTICS -->

    <div id='housingPlot' class="uk-width-1-2" >
    {%plotly_app name="housingPlot" ratio=0.8%}
    </div>


    <!-- ANALYTICS -->


    <!-- GALLERY -->
    <div id='home_gallery' class="uk-width-1-2 uk-responsive-width" uk-height-match='#housingPlot'>

    </div>

    <!-- GALLERY -->

</div>

<script>
    function update_gallery(payload) {
        $('#home_gallery').html('').load(
            "{% url 'property_list_from_event_ajax' %}", payload
        )
    }
</script>



<script src="{% static 'browse/event_to_list.js' %}"></script>











    {% include "browse/shared/scripts.html" %}